auto-save-list
elpa
eshell
abbrev_defs
bookmarks
ido.last
.mc-lists.el
recentf
session.*
settings.el
tramp
private-settings.org
/.#abbrev_defs
/games/snake-scores
/projectile.cache
/projectile-bookmarks.eld
/.#recentf
/settings.html
/emacs-bean-essentials.el
/network-security.data
/.emacs
